extends base 

block content
    script(type='text/javascript').
        $(document).ready(function() {
            // init ui-tooltip
            $('.hero-list').tooltip({
                position: { my: "center top-31", at: "center top" },
                show: { effect: "fade", delay: 0, }
            });

            $('.search').tooltip({
                position: { my: "center top-51", at: "center top" },
                show: { effect: "fade", delay: 0, }
            });
        });
    div.hero(ng-controller='hero')
        div.sort.left
            div.unselectable
                span Sort:
                span.button.sHP HP
                span.button.sDMG DMG
                span.button.sARMOR ARMOR
                span.button.sDIFF DIFFICULTY
            div.unselectable
                span Type:
                span.button.filter.fRange RANGE
                span.button.filter.fMelee MELEE
            div.unselectable
                span Side:
                span.button.filter.fLegion LEGION
                span.button.filter.fHellbourne HELLBOURNE
            div.unselectable
                span Stat:
                span.button.filter.fAgi AGI
                span.button.filter.fInt INT
                span.button.filter.fStr STR
        div.search.right
            form(action='/search', method='post')
                input#search(type='text', name='_search', placeholder='Search Hero', value='', title='You can search by name, or part of a name: Keeper, SS, TDL')
        div.clear

        ul.hero-list
            each hero in heroes
                - var cls = (hero.range > 150 ? 'range ' : 'melee '); 
                - cls += (hero.side === 'Legion' ? 'le ' : 'hb ');
                - cls += (hero.stat === 'AGI' ? 'agi' : (hero.stat === 'STR' ? 'str' : 'int') );

                li(style='position:relative',
                    data-hp=hero.hp,
                    data-dmg=hero.dmg,
                    data-armor=hero.armor,
                    data-diff=hero.difficulty,
                    title=hero.name,
                    class=cls)
                    a(href='/hero/' + hero.slug)
                        img.hero-icon-70px(src='/img/heroes/' + hero.slug + '.jpg')
                        div.overlay
    script(type='text/javascript', src='/js/core.js')
